.list-style {
  list-style: none;
  border: solid #b6c3ca 1px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.inn-container {
  display: flex;
  align-items: center;
  color: white;
}
.short-name {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.delete-icon {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
.stars {
  height: 15px;
  min-width: 90px;
}
.delete {
  background-color: transparent;
  border: none;
}
